---
import Logo from "./Logo.astro";
---

<header
    id="header-nav"
    class="fixed top-0 w-full px-4 py-2 z-50 text-sm mt-0 mb-2"
>
    <div
        class="grid grid-cols-3 max-w-7xl mx-auto items-center justify-between"
    >
        <a href="/" class="col-span-1">
            <Logo
                class="absolute w-10 m-auto blur-sm opacity-0 transition-opacity duration-300 hover:opacity-100"
            />
            <Logo class="w-10" />
        </a>
        <nav
            id="header-menu"
            class="fixed w-full h-dvh inset-0 bg-[#151a36]/90 text-2xl flex flex-col items-center justify-center gap-8 -translate-y-full transition-transform duration-300 target:translate-y-0 md:static md:h-[initial] md:bg-[initial] md:text-xl md:flex-row md:translate-y-[initial]"
        >
            <ul class="flex gap-4">
                <li>
                    <a class="hover:underline" href="#">INFO</a>
                </li>
                <li>
                    <a class="hover:underline" href="/about">ARCHIVO</a>
                </li>
            </ul>
        </nav>
        <a
            href="#"
            class="border rounded-full inline-block border-white px-4 py-2 justify-self-end hover:bg-white hover:text-black duration-300"
        >
            ESLAND: EL DOCUMENTAL
        </a>
    </div>
</header>
